<%- include('header'); -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, unde nam. Natus libero repudiandae fuga repellendus sit pariatur atque officiis similique. Harum veniam placeat esse cum obcaecati voluptate nostrum non, laboriosam voluptatibus. Quasi sed est odit, perspiciatis repudiandae numquam eos facilis eius voluptates nobis. Ullam nulla repellat ut ipsa voluptatem?</p>

<%- include('footer'); -%>